# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @[username] and @[org/team] will be requested for
# review when someone opens a pull request.
*       @gorilainvest/product-backend